*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cover-all{
    background: url('https://i.pinimg.com/originals/fe/06/b8/fe06b8cae6d681087bc43aba2ed58f0c.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    opacity: .7;
    position: relative;
    
}
.cover-game{
 
    position: absolute;
    bottom: 1%;
    left: 0;
    right: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    background: white;
    /* height: 1vh; */
    /* line-height: 100%; */

   
}
@keyframes ballfall {
    0%{
        top: 0vh;
    }
    100%{
        top: 90vh;
    }
}

.buble{
    position: absolute;
   text-align: center;
   border-radius: 50%;
   padding: 1vh 1vw;
   background: #000;
   color: white;
    animation-name: ballfall;
    animation-duration: 10s;
    /* animation-iteration-count: infinite; */
    cursor: pointer;
}
#cb:checked  ~ label > img {
    background: red;
}
.cover-setting{
    position: absolute;
    right: 0;
    top: 30%;
    width: 3.125rem;
    height: 6.25rem ;
    background: linear-gradient(#f2709c,#ff9472);
    border-radius: 0.375rem;
  

}
.setting{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5rem 15% .5rem 15%;
   
   
}
.nutpause{
    padding: 0px 0;
    color:white;
    background: linear-gradient(#aa4b6b,#6b6b83,#3b8d99); 
     text-align: center;
     font-size: 1.12500rem;
}
audio{
}
@media screen and (max-width: 63.9375em)  { 
    .cover-setting{
        top: 10%;
    }
    /* #mapid{
        display: none;
    }
    .cover-map-mobile{
        display: block;
    } */
  
    /* CSS */
    
  }